.container {
  width: 90%;
  margin: 36px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}

 input.ng-invalid.ng-touched {
  background-color:yellow;
  opacity: .2;
}

.nameData.ng-invalid.ng-touched {
  border-style:solid;
  border-width: 1px;
  padding: 8px;
  border-radius: 5px;
  border-color: yellowgreen;
}
